body{
    background-color: #212121;
    text-align: center;
    color: white;
}

.slidecontainer{
    background-color: #000;
    line-height: 0.5rem;
    width: 51%;
    margin: 0 24%;
    height: 10rem;
    padding: 5px;
}