body{
    background-color: #000;
    color: white;
}

.slidecontainer{
    background-color: #000;
    line-height: 0.15rem;
    width: fit-content;
    position: absolute;
    margin-left: 0;
    height: 10rem;
    padding: 5px;
}
canvas{
    position: absolute;
    padding-left: 2rem;
}