body{
    background-color: #212121;
    text-align: center;
}
canvas{
    border: solid white 2px;
}
pre{
    background-color:#000;
    color:#ccc;
    font-size: 10pt;
    width: 600px;
    position: absolute;
    margin-left: 0;
}
